@import '../../styles//Global.module';

.Form{
    align-self:baseline ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    .FromControl{
        width:50%;
        padding:0px;
    }

    .Card {
        width: 30%;
        display:flex;
        justify-content: center;
        background-color:transparent;
        box-sizing:border-box;
        padding: auto 5%;
    }


    > {
        margin: 5%;
    }

    .input {
        min-height: 75px;
        max-height: 90px;
        margin: 5%;
        * > {
            padding: 5px;
        }
    }

    .ButtonBlock {
        padding: 0;
        display: flex;  
        justify-content: space-around;
        flex-direction: row;
        margin: 5%;
    }
}
    
    