.Footer {
    display: grid;
    text-align: center;
    align-items: center;
    justify-content: center;
    grid-template-columns: 80% 20%;

    .Logo {
        width: 3%;
        margin-left: 2%;
        margin-top:2%;
        align-self: center;
    }

    .Links{
        > * {
            display: grid;
            grid-template-columns: 30% 30%;
            justify-content: center;
        }
        font-size: 12px ;
        > * >:hover{
            color:white;
            cursor:pointer;
        }
    }

}