.main {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    .Form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        padding: 0% 10%;
        & > * {
            margin: 1% 0;
            padding: 0px;
        }

        
        .label{
            display: flex;
            flex-direction: column;
            color:black;
            .input {
                margin: 5%;
                padding: 0px;
            }
        }

        .ButtonBlock {
            padding: 0;
            display: flex;  
            justify-content: space-around;
            flex-direction: row;

            .Button {
                margin: auto;
            }
        }
    }

    .dt {
        height: 50%;
        min-height: 500px;
    }

    .PickersBlock{
        display: flex;
        width:20%;
        justify-content: center;
        flex-direction: column;
        align-self: center;

        >:not(:last-child){
            margin-bottom: 10%;
        }

        .inputPicker {
            div{
                height: 40px;
            }
            label {
                margin-left: -10%;
                margin-top: -3%;
                font-size: 20px;
            }
            fieldset {
                legend * {
                    color: white;
                }
            }
        }

    }



} 




    
    