.Wrapper{ 
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color: #67c2e68a;
    
    .Layout{
        box-sizing: border-box;
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 10% 5fr 1fr;
        min-height: 100vh;
        > * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
    
        .Header{
            grid-column:1/-1 ;
            grid-row:1/2;
            max-height: 100px;
        }
        
        .Footer{
            grid-column:1/-1;
            grid-row:3/4;

        }
        .Body{
            grid-column: 1/-1;
            grid-row:2/3;
            display: flex;
            justify-content: center;
            box-sizing: border-box;
        }
    }
}