@import '../../styles//Global.module';

.Form{
    align-self:baseline ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;

    .FormCard{
        padding: 1% 0;
        display: flex;
        background-color: transparent;
        width: 50%;
        .FormCardContentControl {
            width: 100%;
            
            *{
                padding: 0px;
                margin: 0  auto;
            }

        }
    }

    .label{
        display: flex;
        flex-direction: column;
        color:black;
        > {
            display: flex;
        }

        .input {
            min-height: 65px;
            margin-top: 0.5%;
            margin-bottom: 0;
        }
    }

    .ButtonBlock {
        padding: 0;
        display: flex;  
        justify-content: space-around;
        flex-direction: row;
        width: 50%;
    }
}
    
    