.Form{
    height: 100%;
    width: 50%;
    align-items: center;
    margin:auto;
    label{
        width:100%;
        input{
            margin:auto;
            padding:0;
            display: flex;
        }

        select{
            margin:auto;
            display: flex;
        }
    }
    fieldset{
        margin: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%;

        *{
            margin:2%;
        }

    }
    .ButtonBlock{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        * {
            margin: 2%;
            width: 20%;
        }
    }
}