.container {
  padding: .25% 2%;
  height: 90%;
}

.ButtonContainer {
    margin: 1%;
}

.ButtonContainer * {
  margin: 0% 2%;
  border-radius: 25px;
}

.ButtonContainer * :hover{
  background:rgb(212, 210, 210);
}
